/* Global CSS */
:root {
  --color-primary: #0478d9;
  --color-secondary: #fff;
  --color-accent: #ff3400;
  --color-gray: #ccc;
  --color-black: #1e1e1e;
  --border-radius: 30px;
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

::before,
::after {
  --tw-content: '';
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: normal;
}


body {
  margin: 0;
  line-height: inherit;
}


hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}


abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b,
strong {
  font-weight: bolder;
}


code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  /* -webkit-appearance: button; */
  background-color: transparent;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  /* -webkit-appearance: textfield; */
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button,
[role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* vertical-align: middle; */
}

img,
video {
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none;
}

/* Custom Scroll Bar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #0478d9;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #000;
}

/* PRELOAD */
.preload {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.spinner {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*NOTIFICATIONS*/
.notification {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 999;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  animation: slide-in 1s ease forwards, fade-out 1s 5s forwards;
}

.notification.success {
  background-color: green;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* Mobile Menu CSS */


.menu-mobile {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 40;
  display: none;
}

@media (min-width: 1024px) {
  .menu-mobile {
    display: none;
  }
}

.mobile-panel {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  --tw-bg-opacity: 1;
  background-color: rgb(75 85 99 / var(--tw-bg-opacity));
  --tw-bg-opacity: 0.75;
}

.mobile-sidebar {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  max-width: 20rem;
  overflow-y: scroll;
  flex: 1 1 0%;
  flex-direction: column;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.close-panel {
  position: absolute;
  top: 0px;
  right: 0px;
  /* margin-right: -3rem; */
  padding-top: 1rem;
  margin-left: 0.25rem;
  display: flex;
  height: 2.5rem;
  width: 2.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  outline: 2px solid transparent;
  outline-offset: 2px;

}

.close-icon {
  height: 2rem;
  width: 2rem;
}

.mobile-nav {
  padding-top: 1.25rem;
  padding-bottom: 1rem;
}

.mobile-logo {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.sm-logo {
  height: 2rem;
  width: auto;
}

.mobile-menu-items {
  margin-top: 1.25rem;
  margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.menu-mobile-item {
  display: flex;
  align-items: center;
  border-radius: 0.375rem;
  padding: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: rgb(75 85 99);
}

.menu-mobile-item:hover {
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
  color: rgb(17 24 39);
}

.menu-mobile-icon {
  margin-right: 1rem;
  height: 1.5rem;
  width: 1.5rem;
  color: rgb(156 163 175);
}

.menu-mobile-icon:hover {
  color: rgb(107 114 128);
}


@media (min-width: 1024px) {
  .mobile-top {
    display: none;
  }
}

.mobile-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  justify-content: space-between;
  background-color: rgb(79 70 229 / var(--tw-bg-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* @media (min-width: 640px) {
    .mobile-header {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media (min-width: 1024px) {
    .mobile-header {
        padding-left: 2rem;
        padding-right: 2rem;
    }
} */

.phone-logo {
  height: 2rem;
  width: auto;
}

.open-mobile-menu {
  margin-right: -0.75rem;
  display: inline-flex;
  height: 3rem;
  width: 3rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.open-menu-icon {
  height: 1.5rem;
  width: 1.5rem;
}

/* Start Menu PROFILE Section */
.profile-menu {
  display: block;
}



@media (min-width: 1024px) {
  .profile-menu {
    display: none;
  }

}

.profile-menu-content {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 15rem;
  flex: 1 1 0%;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  overflow: hidden;


}

.profile-photo {
  border-radius: 100%;
}

.profile-menu-name {
  display: flex;
  color: var(--color-primary);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}




/* Desktop Menu CSS */


.menu-desktop {
  display: none;
  width: 7rem;
  height: 100%;
  overflow-y: auto;
  --tw-bg-opacity: 1;
  background-color: var(--color-gray);
}

@media (min-width: 768px) {
  .menu-desktop {
    display: block;
  }
}

.menu-sidebar {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.logo-desktop {
  display: flex;
  flex-shrink: 0;
  align-items: center;
}

.lg-logo {
  height: 2rem;
  width: auto;
}

.menu-desktop-item {
  margin-top: 1.5rem;
  width: 100%;
  flex: 1 1 0%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.menu-items {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  border-radius: 0.375rem;
  padding: 0.75rem;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 500;
  color: var(--color-black);
}

.menu-items:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.login-icon {
  position: absolute;
  bottom: 5px;
  left: 1rem;
}


/* Icons */

.icon {
  width: 40px;
  height: 40px;
}

.icon--small {
  width: 30px;
  height: 30px;
}

.icon--menu {
  width: 30px;
  height: 30px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon--white {
  fill: #fff;
}

.icon-container {
  background: #f3f9fa;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon-container--accent {
  background: var(--color-accent);
}

/* Button */
.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1rem;
  outline: 0;
  padding: 0.5rem 2vw;
  text-align: center;
  white-space: nowrap;
}

.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.btn--primary:hover {
  background: var(--color-gray);
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

.btn--secondary {
  background: #fff;
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

.btn--secondary:hover {
  background: var(--color-primary);
  color: var(--color-gray);
}

.btn--accent {
  background: var(--color-accent);
  color: #fff;
}

.btn--accent:hover {
  background: #ec3000;
}

.btn--outline {
  background: #fff;
  color: var(--color-black);
  border: 2px solid var(--color-primary);
  /* display: inline-block;
    margin: 0.5rem auto; */


}

.btn--outline:hover {
  background: var(--color-primary);
  color: #fff;
}

.btn--hireme {
  display: flex;
  position: absolute;
}

.btn--learnmore {
  display: inline-block;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

.btn--stretched {
  margin-top: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

/* Start My Brand Main Section */
.my-brand {
  display: flex;
  height: 100vh;
}

.page-title {
  display: flex;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 600;
  justify-content: center;
}


.main-section {
  display: flex;
  overflow: auto;

  /* overflow: hidden; */
}

@media (min-width: 1024px) {
  .main-section {
    overflow: hidden;
    flex: 1 1 0%;
  }
}

@media (min-width: 640px) {
  .main-section {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;

  }
}


.main-contents {
  display: flex;
  height: 100%;
  min-width: 0px;
  flex: 1 1 0%;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.myself {
  display: flex;
  margin: auto;
  justify-content: center;
  flex-direction: column;
}

.my-name {
  font-size: 4rem;
  color: var(--color-primary);
}

.my-career {
  font-size: 2rem;
  text-align: center;
}

.slider-wrapper {
  margin-top: 2rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slider {
  margin-left: 1rem;
  font-weight: 700;
  height: 5rem;
}

.slider-text {
  height: 4.7rem;
  padding: 0.7rem;
  margin-bottom: 1.65rem;
  text-align: center;
  border-radius: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-text:first-child {
  animation: slide 5s linear infinite;
}

@keyframes slide {
  0% {
    margin-top: -300px;
  }

  5% {
    margin-top: -200px;
  }

  33% {
    margin-top: -200px;
  }

  38% {
    margin-top: -100px;
  }

  66% {
    margin-top: -100px;
  }

  71% {
    margin-top: 0px;
  }

  100% {
    margin-top: 0px;
  }
}

.myresume {
  width: 100%;
  height: 100vh;
}

.prev-next {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

/* Start PROFILE Section */
.profile-section {
  display: none;
}


@media (min-width: 1024px) {
  .profile-section {
    order: -9999;
    display: flex;
    flex-shrink: 0;
    /* height: 100vh; */
    overflow-y: auto;
    background-color: #1e1e1e;
  }

}

.profile-content {
  position: relative;
  display: flex;
  /* height: 100%; */
  width: 24rem;
  flex-direction: column;
  overflow: hidden;
  border-right-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235);
  --tw-bg-opacity: 1;

}

.profile-photo {
  border-radius: 100%;
}

.profile-name {
  display: flex;
  color: #ccc;
  font-size: 1.5rem;
  font-weight: 500;
  justify-content: center;
  /* margin-top: 2rem; */
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.profile-social {
  width: 40px;
  height: 40px;
  color: #ccc;
  margin: 1rem;
}

.downloadcv,
.sayhello {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem auto;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;

}

/* .footer {
  position: relative;
} */

.copyright {
  display: flex;
  position: absolute;
  bottom: 0;
  font-size: 1rem;
  color: #ccc;
  text-align: center;
  padding-bottom: 0;
}

/* Login Page */
.my-login {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #022745;

}

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

@media (min-width: 640px) {
  .login-page {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .login-page {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 640px) {
  .login-heading {
    margin-left: auto;
    margin-right: auto;
    max-width: 28rem;
    width: 100%;
  }
}

.login-title {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: #ccc;
}

.login-section {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 800;
}

@media (min-width: 640px) {
  .login-section {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 28rem;
  }
}

.login-form {
  --tw-bg-opacity: 1;
  background-color: var(--color-secondary);
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 500px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.my-form {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.login-input {
  margin-top: 0.25rem;
}

@media (min-width: 640px) {
  .login-form {
    border-radius: 0.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.form-item {
  display: flex;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  margin-top: 1rem;
  --tw-text-opacity: 1;
  color: rgb(55 65 81);
}

.form-input {
  display: block;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219);
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 1rem;

  box-shadow: #0000;
}

.form-input::placeholder {
  color: rgb(156 163 175);
}

.form-input:focus {
  border-color: var(--color-primary);
}


@media (min-width: 640px) {
  .form-input {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

.loginaddons {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  justify-content: space-between;
}

.remember {
  display: flex;
  align-items: center;
}

.remember-input {
  height: 1rem;
  width: 1rem;
  border-radius: 0.25rem;
  border-color: rgb(209 213 219);
  color: rgb(79 70 229);
}

.remember-label {
  margin-left: 0.5rem;
  display: block;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
}

.login-button {
  display: flex;
  width: 100%;
  justify-content: center;
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: transparent;
  background-color: #0478d9;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: #fff;
}

.forgot {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
}

.login-with-google {
  transition: background-color .3s, box-shadow .3s;
  padding: 2px 16px 2px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
}

.login-with-google:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
}

.login-with-google:active {
  background-color: #eeeeee;
}

.login-with-google:focus {
  outline: none;
  box-shadow:
    0 -1px 0 rgba(0, 0, 0, .04),
    0 2px 4px rgba(0, 0, 0, .25),
    0 0 0 3px #c8dafc;
}

.error-message {
  color: var(--color-accent);
  font-size: 1rem;
}

.error {
  color: var(--color-accent);
  font-size: 1rem;
}

#contact-form .error {
  color: red;
}

/* Style the input fields when they are valid */
input[type="text"].valid,
input[type="password"].valid {
  border-color: green;
}

/* Style the input fields when they are invalid */
input[type="text"].invalid,
input[type="password"].invalid {
  border-color: red;
}

/* Style the password input field */
input[type="password"] {
  position: relative;
  padding-right: 40px;
}

/* Blog Pages */

.blog {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  column-gap: 1rem;
  row-gap: 2rem;
  /* height: 100vh; */
  overflow-y: auto;
}


@media (min-width: 640px) {
  .blog {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 1.5rem;
  }


}

@media (min-width: 1024px) {
  .blog {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1280px) {
  .blog {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 2rem;
  }
}

.blog-item {
  display: block;
  width: 100%;
  overflow: hidden;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}

.blog-image {
  pointer-events: none;
  object-fit: cover;
}

.blog-title {
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem;
}

.blog-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.blog-icon {
  width: 50px;
  height: 50px;
  color: #ccc;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* Filter */
.filterDiv {
  display: none;
}

.show {
  display: block;
}

/* Style the buttons */

.filterBtns {
  width: 100vw;
  grid-template-columns: repeat(2, minmax(0, 1fr));

}

@media (min-width: 640px) {
  .filterBtns {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .filterBtns {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .filterBtns {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

/* Single Blog Section */
.article {
  height: 100vh;
}

.article-image {
  width: 100%;
  height: 50%;

}

.article-title {
  font-size: 3rem;
  font-weight: 800;
  display: flex;
  justify-content: center;
}

.article-content {
  padding: 1.5rem;
}

/* Comment Form */

.comment {
  display: block;
  justify-content: center;
  width: 80%;
  margin: auto;

}

.comment-section {
  display: block;
  font-size: 1.5rem;
  padding: 2rem;
  line-height: 1rem;
  font-weight: 500;

  color: rgb(55 65 81);

}

.comment-input {

  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: solid #000 1px;
  border-radius: 0.375rem;
  border-color: rgb(55 65 81);
}

/* Contant Page  */


.contact-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem auto;
  padding: 2rem;
  width: 90%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}

.contact-info {
  font-size: 1.8rem;

}

.map {
  display: flex;
  justify-content: center;
  width: 100%;
}

.reach-me {
  overflow: hidden;
  margin-top: 4rem;
  align-items: center;
}

@media (min-width: 640px) {
  .reach-me {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    width: 100%;
    max-height: 100vh;
  }
}


.message {
  display: flex;
  flex-direction: column;
  justify-content: right;
  margin: 1rem;

}



.message-title {
  display: flex;
  font-size: 1.8rem;
  padding: 2rem;
  line-height: 1rem;
  font-weight: 500;

  color: rgb(55 65 81);

}

.message-input {

  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: solid #000 1px;
  border-radius: 0.375rem;
  border-color: rgb(55 65 81);
}


/* About Me Page */

/* Links */

.link-arrow {
  color: var(--color-primary);
  margin-top: 2rem;
  font-size: 1.2rem;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

/* Badges */

.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.badge--primary {
  background: var(--color-primary);
  color: #fff;
}

.badge--secondary {
  background: var(--color-secondary);
  color: var(--color-black);
}

.badge--small {
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1.2rem;
  }
}

/* Lists */

.list {
  list-style: none;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
  color: var(--color-headings);
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* Inputs */

.input {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  color: var(--color-headings);
  font-size: 2rem;
  outline: 0;
  padding: 1.5rem 3.5rem;
}

::placeholder {
  color: #cdcbd7;
}

.input-group {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  display: flex;
}

.input-group .input {
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 2rem;
  width: 0;
}

.input-group .btn {
  margin: 4px;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

.btn--search {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Domain Block */

.block-domain .input-group {
  box-shadow: 0 0 30px 20px #e6ebee;
  border: 0;
  margin: 4rem auto;
  max-width: 670px;
}

.block-domain__prices {
  color: var(--color-headings);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 6rem);
  font-size: 2rem;
  font-weight: 600;
  justify-items: center;
  max-width: 700px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .block-domain__prices {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
}

/* Cards */

.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
}

.card__header,
.card__body {
  padding: 2rem 7%;
}

.card--primary .card__header {
  background: var(--color-primary);
  color: #fff;
}

.card--secondary .card__header {
  background: var(--color-black);
  color: #fff;
}

.card--primary .badge--primary {
  background: #126de4;
}

.card--secondary .badge--secondary {
  background: #02cdf1;
}

/* Plans */

.plan {
  transition: transform 0.2s ease-out;
}

.plan__name {
  color: #fff;
  margin: 0;
  font-weight: 500;
  font-size: 2.4rem;
}

.plan__price {
  font-size: 5rem;
}

.plan__billing-cycle {
  font-size: 2rem;
  font-weight: 300;
  opacity: 0.8;
  margin-right: 1rem;
}

.plan__description {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
}

.plan .list__item {
  margin-bottom: 2rem;
}

.plan--popular .card__header {
  position: relative;
}

.plan--popular .card__header::before {
  content: url(../images/popular.svg);
  width: 40px;
  display: inline-block;
  position: absolute;
  top: -6px;
  right: 5%;
}

.plan:hover {
  transform: scale(1.05);
}

.plan--popular:hover {
  transform: scale(1.15);
}

@media screen and (min-width: 1024px) {
  .plan--popular {
    transform: scale(1.1);
  }

  .plan__name {
    font-size: 1.4rem;
  }

  .plan__price {
    font-size: 5rem;
  }

  .plan__billing-cycle {
    font-size: 1.6rem;
  }

  .plan__description {
    font-size: 1.7rem;
  }
}

/* Media */

.media {
  display: flex;
  margin-bottom: 4rem;
}

.media__title {
  margin-top: 0;
}

.media__body {
  margin: 0 2rem;
}

.media__image {
  margin-top: 1rem;
}

/* Quotes */

.quote {
  font-size: 3rem;
  font-style: italic;
  color: var(--color-body-darker);
  line-height: 1.3;
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

.quote__author {
  font-size: 2rem;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 0;
}

.quote__organization {
  color: var(--color-headings);
  opacity: 0.4;
  font-size: 1.5rem;
  font-style: normal;
}

.quote__line {
  position: relative;
  bottom: 10px;
}

@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2rem;
  }

  .quote__author {
    font-size: 2.4rem;
  }

  .quote__organization {
    font-size: 1.6rem;
  }
}

/* Grids */

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Testimonials */

.testimonial {
  padding: 3rem;
}

.testimonial .quote {
  margin: 2rem 0;
  font-size: 110%;
}

.testimonial__image {
  position: relative;
  margin: 0 3rem;
}

.testimonial__image>.icon-container {
  position: absolute;
  top: 3rem;
  right: -32px;
}

@media screen and (min-width: 768px) {
  .testimonial__image {
    margin: 0;
  }

  .testimonial .quote {
    margin: 5rem 0 0 6rem;
    font-size: 120%;
    line-height: 1.5;
  }
}

/* Callouts */

.callout {
  padding: 4rem;
  border-radius: 5px;
}

.callout--primary {
  background: var(--color-primary);
  color: #fff;
}

.callout__heading {
  color: #fff;
  margin-top: 0;
  font-size: 3rem;
}

.callout .btn {
  justify-self: center;
  align-self: center;
}

.callout__content {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .callout .grid--1x2 {
    grid-template-columns: 1fr auto;
  }

  .callout__content {
    text-align: left;
  }

  .callout .btn {
    justify-self: start;
    margin: 0 2rem;
  }
}

/* Blocks */

.block {
  --padding-vertical: 5rem;
  padding: var(--padding-vertical) 2rem;
}

.block__header {

  text-align: center;
  margin-bottom: 4rem;
}

.block__heading {
  font-size: 3rem;
  margin-top: 0;
}

.block--dark {
  background: #000;
  color: #7b858b;
}

.block--dark h1,
.block--dark h2,
.block--dark h3 {
  color: #fff;
}

.block--skewed-right {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 95%);
}

.block--skewed-left {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}



/* Plans Block */

.block-plans .grid {
  gap: 8rem 4rem;
}

.block-plans .card {
  max-width: 500px;
  margin: 0 auto;
}

/* Features */

.feature {
  gap: 4rem 2rem;
  margin: 12rem 0;
}

.feature:first-of-type {
  margin-top: 6rem;
}

.feature__heading {
  font-size: 2rem;
  margin: 1rem 0;
}

@media screen and (min-width: 768px) {
  .feature:nth-of-type(even) .feature__content {
    order: 2;
  }
}

/*Technology Skills Grids */
.myskills-item {
  width: 7rem;
  height: 7rem;
}

.myskills {
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (min-width: 768px) {
  .myskills {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .myskills {
    grid-template-columns: repeat(6, 1fr);
  }
}



/* Showcase Block */

@media screen and (min-width: 768px) {
  .block-showcase .grid {
    grid-template-columns: 50% 50%;
  }

  .block-showcase__image {
    justify-self: end;
  }

  .block-showcase__image>img {
    width: auto;
    max-width: 700px;
  }
}


/* Sign-up Callout */

.callout-signup {
  transform: translateY(5rem);
}

/* About Me page End Here */

.dashboard-desktop {
  display: none;
}

@media (min-width: 768px) {
  .dashboard-desktop {
    position: fixed;
    top: 0px;
    bottom: 0px;
    display: flex;
    width: 16rem;
    flex-direction: column;
  }

}

.mydashboard {
  display: flex;
  min-height: 0px;
  flex: 1 1 0%;
  flex-direction: column;
  background-color: rgb(31 41 55);
}

.dashboard-brand {
  display: flex;
  height: 4rem;
  flex-shrink: 0;
  align-items: center;
  background-color: rgb(17 24 39);
  padding-left: 1rem;
  padding-right: 1rem;
}

.dashboard-logo {
  height: 2rem;
  width: auto;
}

.dashboard-menu {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  overflow-y: auto;
}

.dash-menu {
  flex: 1 1 0%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.dashitem {
  margin-left: 1rem;
  font-size: 1.2rem;
}

.dashboard-menu-item {
  display: flex;
  align-items: center;
  border-radius: 0.375rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.2rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: rgb(209 213 219);

}

.dashboard-menu-item:hover {
  background-color: rgb(55 65 81);
  color: rgb(255 255 255);
}

.dashboard-menu-icon {
  margin-right: 0.75rem;
  height: 1.5rem;
  width: 1.5rem;
  flex-shrink: 0;
  color: rgb(156 163 175);
}

.dashboard-menu-icon:hover {
  color: rgb(209 213 219);
}

.dashboard-header {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  .dashboard-header {
    padding-left: 16rem;
  }
}

.dashboard-heading {
  position: sticky;
  top: 0px;
  z-index: 10;
  display: flex;
  height: 4rem;
  flex-shrink: 0;
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.dash-header {
  display: flex;
  flex: 1 1 0%;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

.dash-heading {
  display: flex;
  flex: 1 1 0%;
}

.dash-search-form {
  display: flex;
  width: 100%;
}

@media (min-width: 768px) {
  .dash-search-form {
    margin-left: 0px;
  }
}

.dash-search-icon {
  position: relative;
  width: 100%;
  color: rgb(156 163 175);
}

.dash-search-icon:focus-within {
  color: rgb(75 85 99);
}

.dashboard-search {
  pointer-events: none;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  display: flex;
  align-items: center;
}

.dash-search-size {
  height: 1.7rem;
  width: 1.7rem;
}

.dash-search-field {
  display: block;
  height: 100%;
  width: 100%;
  border-color: transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 0.75rem;
  color: rgb(17 24 39);
}

.dash-search-field::placeholder {
  color: rgb(107 114 128);

}

.dash-search-field:focus {
  border-color: transparent;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.dash-search-field:focus::placeholder {
  color: rgb(156 163 175);
}

@media (min-width: 640px) {
  .dash-search-field {
    font-size: 1.2rem;
    line-height: 1.25rem;
  }
}

.dashboard-notification {
  margin-left: 1rem;
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .dashboard-notification {
    margin-left: 1.5rem;
  }
}

.dash-notification {
  border-radius: 9999px;
  background-color: rgb(255 255 255);
  padding: 0.25rem;
  color: rgb(156 163 175);
}

.dash-notification:hover {
  color: rgb(107 114 128);
}

.dashboard-profile {
  position: relative;
  margin-left: 0.75rem;
}

.dash-profile-size {
  height: 3rem;
  width: 3rem;
  border-radius: 9999px;
}

.dash-profile-items {
  position: absolute;
  right: 0px;
  z-index: 10;
  margin-top: 0.5rem;
  width: 12rem;
  transform-origin: top right;
  border-radius: 0.375rem;
  background-color: #fff;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.dash-profile-item {
  display: block;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(55 65 81);
}

.dash-main {
  flex: 1 1 0%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.dashboard-main {
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px) {
  .dashboard-main {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 768px) {
  .dashboard-main {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.dash-title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  color: rgb(17 24 39);
}

.dash-contents {
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
  padding-left: 1rem;
  padding-right: 1rem;
  overflow-x: hidden;
}

@media (min-width: 640px) {
  .dash-contents {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 768px) {
  .dash-contents {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.add-blog {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.addblog-section {
  max-width: 1024px;
  margin: 2rem auto;
}

.dashcomment {
  max-width: 30rem;
}

.dashmessage-item {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  padding: 2rem;
  width: 90%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}

.dashmessage-name {
  display: flex;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 600;
  justify-content: center;
}

.dashmessage-email {
  display: flex;
  font-size: 1rem;
  font-weight: 600;
  justify-content: center;
}

.dashmessage-info {
  font-size: 1.5rem;
}

.inquiry-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  padding: 2rem;
  width: 90%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.inquiry-name {
  display: flex;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 600;
  justify-content: center;
}

.inquiry-email {
  display: flex;
  font-size: 1rem;
  font-weight: 600;
  justify-content: center;
}

.inquiry-message {
  width: 100%;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.inquiry-delete {
  align-self: flex-end;
}

@media (min-width: 768px) {
  .inquiry-card {
    flex-basis: calc(33.33% - 2rem);
  }
}




#commentsContainer button {
  border-radius: 40px;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1rem;
  outline: 0;
  padding: 0.5rem 2vw;
  text-align: center;
  white-space: nowrap;
  background: #fff;
  color: var(--color-black);
  border: 2px solid var(--color-accent);
}

#commentsContainer button:hover {
  background-color: var(--color-accent)
}